/* style.css */

/* Brain ref image to be deleted */
/*.image-container {
    width: 100%;
    height: 100%;
}
*/
img {
    width: 60%;
    height: 60%;
    object-fit: cover;
}


@media screen and (max-width: 768px) {
  .concept-img2 img{
    width: 50%;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
  }
}


/* -----------------text-------*/



 
.contentContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  padding-right: 20px; /* Adjust as necessary */
}

.Projecttittle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px; /* Adjust as necessary */
}

.AestheticAdaptInStoreStyling {
  color: black;
  font-size: 60px;
  font-weight: 500;
  line-height: 52px;
  font-family: Raleway;
}

.tagline {
  color: black;
  font-size: 30px;
  font-weight: 500;
  line-height: 52px;
  font-family: Raleway;
}

.icon {
  /* Insert any additional styling for your icon here. */
}


/* ----------icons-------*/

.iconarrow {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding-right: 20px;
}

.contacticons {

     position: fixed;
    right: 0;
    bottom: 30px;
    display: flex;
    flex-direction: row; 
    padding-right: 40px;
    gap: 20px;
    
}

.contacticons svg {
  transition: transform 0.3s ease-in-out;
}

.contacticons svg:hover {
  transform: scale(1.2);
}

/* ----------buttons-------*/


.buttonContainer {
    position: fixed;
    right: -100px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 50px; /* This creates an invisible clickable area that triggers the hover effect */
    box-sizing: content-box; /* This makes sure padding is not included in width and height */
    transition: transform 0.5s ease-in-out;
}

.buttonContainer .sideButton {
    position: relative;
    right: -150px; /* This moves the button off the screen initially */
    transition: right 0.5s ease-in-out;
}

.buttonContainer:hover .sideButton {
    right: 0; /* This brings the button back onto the screen when the container is hovered */
}


.sideButton {
    display: flex;
    height: 48px;
    width: 146px;
    transform: rotate(-90deg);
    padding: 2px 0px;
    justify-content: center;
    align-items: center;
    transition: transform .2s ease-in-out, background .2s ease-in-out;
    border-radius: 8px;
    background: var(--ash-black, #16191695);
    margin-bottom: 130px; /* Provide some space between each button */
}

.sideButton:hover {
   transform: rotate(-90deg) scale(1.25);
   background: var(--ash-gray, #A9B1AA80);
   
}
.sideButton:hover button {
  color: #161916; /* Color for the text when hovered */
}

.aboutme{
    color: var(--gray-lm-lighter-gray, #F9F9F980);
    text-align: center;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; 
}


.sideButton .contentaboutme {
    display: flex;
    width: 451px;
    padding: 12px 10px;
    align-items: center;
    gap: 13px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    position: absolute;
    left: -240px; 
    bottom: 120px; 
    transform: rotate(90deg);
   border-radius: 12px;
background: var(--ash-gray, #A9B1AA);
}

.sideButton:hover .contentaboutme {
    opacity: 1;
    visibility: visible;
}



.aboutproject{
    color: var(--gray-lm-lighter-gray, #F9F9F980);
    text-align: center;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; 
}


.sideButton .contentaboutproject {
    display: flex;
    width: 551px;
    padding: 12px 10px;
    align-items: center;
    gap: 13px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    position: absolute;
    left: -340px; 
    bottom: -10px; 
    transform: rotate(90deg);
   border-radius: 12px;
background: var(--ash-gray, #A9B1AA);
}

.sideButton:hover .contentaboutproject {
    opacity: 1;
    visibility: visible;
}



.inspiration{
    color: var(--gray-lm-lighter-gray, #F9F9F980);
    text-align: center;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; 
}



.sideButton .contentinspiration {
    display: flex;
    width: 551px;
    padding: 12px 10px;
    align-items: center;
    gap: 13px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    position: absolute;
    left: -220px; 
    bottom: 110px; 
    transform: rotate(90deg);
   border-radius: 12px;
background: var(--ash-gray, #A9B1AA);
}

.sideButton:hover .contentinspiration {
    opacity: 1;
    visibility: visible;
}

.gallery {
    color: var(--gray-lm-lighter-gray, #F9F9F980);
    text-align: center;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; 
}

.workflow{
    color: var(--gray-lm-lighter-gray, #F9F9F980);
    text-align: center;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; 
}


/* All gears */
#gear1 {
    position: fixed;
    width: 580px; 
    object-fit: cover;
}



#gear1 {
    top: 65px; 
    left: 580px;
}


#gear2 {
    position: fixed;
    width: 12%;
    
}


#gear2 {
    top: 380px; 
    left: 740px;
}


#gear3 {
    position: fixed;
    width: 190px; 
    height: 190px;
}


#gear3 {
    top: 505px; 
    left: 810px;
}


#gear4 {
    position: fixed;
    width: 110px; 
    height: 110px;
}


#gear4 {
    top: 545px; 
    left: 725px;
}


#gear5 {
    position: fixed;
    width: 80px; 
    height: 80px;
}


#gear5 {
    top: 520px; 
    left: 545px;
}


#gear6 {
    position: fixed;
    width: 85px; 
    height: 85px;
}


#gear6 {
    top: 173px; 
    left: 205px;
}

#gear7 {
    position: fixed;
    width: 55px; 
    height: 55px;
}


#gear7 {
    top: 6px; 
    left: 445px;
}

#gear8 {
    position: fixed;
    width: 85px; 
    height: 85px;
}


#gear8 {
    top: 12px; 
    left: 175px;
}

#gear9 {
    position: fixed;
    width: 125px; 
    height: 125px;
}


#gear9 {
    top: -2px; 
    left: 775px;
}

#gear10 {
    position: fixed;
    width: 320px; 
    height: 320px;
}


#gear10 {
    top: 60px; 
    left: 350px;
}


#gear11 {
    position: fixed;
    width: 350px; 
    height: 350px;
}


#gear11 {
    top: -2px; 
    left: 220px;
}

#gear12 {
    position: fixed;
    width: 300px; 
    height: 300px;
}


#gear12{
    top: 170px; 
    left: 245px;
}


#gear13 {
    position: fixed;
    width: 220px; 
    height: 220px;
}


#gear13{
    top: 2px; 
    left: 625px;
}

#gear14 {
    position: fixed;
    width: 200px; 
    height: 200px;
}


#gear14{
    top: 390px; 
    left: 385px;
}

#gear15 {
    position: fixed;
    width: 90px; 
    height: 90px;
}


#gear15{
    top: 230px; 
    left: 205px;
}

#gear16 {
    position: fixed;
    width: 300px; 
    height: 300px;
}


#gear16{
    top: 0px; 
    left: 0px;
}

#gear17 {
    position: fixed;
    width: 165px; 
    height: 165px;
}


#gear17{
    top: 410px; 
    left: 505px;
}

#gear18 {
    position: fixed;
    width: 095px; 
    height: 095px;
}


#gear18{
    top: 390px; 
    left: 615px;
}

#gear19 {
    position: fixed;
    width: 105px; 
    height: 105px;
}


#gear19{
    top: 540px; 
    left: 390px;
}

#gear20 {
    position: fixed;
    width: 65px; 
    height: 65px;
}


#gear20{
    top: 290px; 
    left: 10px;
}

#gear21 {
    position: fixed;
    width: 165px; 
    height: 165px;
}


#gear21{
    top: 210px; 
    left: 110px;
}


#gear22 {
    position: fixed;
    width: 410px; 
    height: 410px;
}


#gear22{
    top: 190px; 
    left: 400px;
}

#gear23 {
    position: fixed;
    width: 280px; 
    height: 280px;
}


#gear23{
    top: 1px; 
    left: 480px;
}


#gear26 {
    position: fixed;
    width: 1160px; 
    height: 1160px;
}


#gear26{
    top: 510px; 
    left: 120px;
}

#gear27 {
    position: fixed;
    width: 230px; 
    height: 230px;
}


#gear27{
    top: 440px; 
    left: 600px;
}


#gear28 {
    position: fixed;
    width: 120px; 
    height: 120px;
}


#gear28{
    top: 520px; 
    left: 460px;
}

#gear29 {
    position: fixed;
    width: 110px; 
    height: 110px;
}


#gear29{
    top: 600px; 
    left: 410px;
}


#gear30 {
    position: fixed;
    width: 230px; 
    height: 230px;
}


#gear30{
    top: 160px; 
    left: 10px;
}

#gear31 {
    position: fixed;
    width: 160px; 
    height: 160px;
}


#gear31{
    top: 95px; 
    left: 220px;
}

#gear32 {
    position: fixed;
    width: 170px; 
    height: 170px;
}


#gear32{
    top: 90px; 
    left: 110px;
}



/*-------------------Rotate animation*/   

#gear1 img {
  transition: transform .8s; /* Add transition for smooth rotation */
}

#gear1:hover img {
  transform: rotate(360deg); /* Rotate the wheel 360 degrees on hover */
}




#gear2 img {
  transition: transform 2s; /* Add transition for smooth rotation */
}

#gear2:hover img {
  transform: rotate(360deg); /* Rotate the wheel 360 degrees on hover */
}




#gear3 img {
  transition: transform .4s; /* Add transition for smooth rotation */
}

#gear3:hover img {
  transform: rotate(360deg); /* Rotate the wheel 360 degrees on hover */
}



#gear4 img {
  transition: transform .001s; /* Add transition for smooth rotation */
}

#gear4:hover img {
  transform: rotate(360deg); /* Rotate the wheel 360 degrees on hover */
}




#gear5 img {
  transition: transform 2s; /* Add transition for smooth rotation */
}

#gear5:hover img {
  transform: rotate(360deg); /* Rotate the wheel 360 degrees on hover */
}



#gear6 img {
  transition: transform 2s; /* Add transition for smooth rotation */
}

#gear6:hover img {
  transform: rotate(360deg); /* Rotate the wheel 360 degrees on hover */
}


body {
  transition: background-color 0.5s ease-in-out; /* Smooth transition */
}

#gear7 img {
  transition: transform 2s; /* Add transition for smooth rotation */
}

#gear7:hover img {
  transform: rotate(360deg); /* Rotate the wheel 360 degrees on hover */
}



#gear8 img {
  transition: transform 2s; /* Add transition for smooth rotation */
}

#gear8:hover img {
  transform: rotate(360deg); /* Rotate the wheel 360 degrees on hover */
}



#gear10 img {
  transition: transform 1s; /* Add transition for smooth rotation */
}

#gear10:hover img {
  transform: rotate(360deg); /* Rotate the wheel 360 degrees on hover */
}



#gear12 img {
  transition: transform 2s; /* Add transition for smooth rotation */
}

#gear12:hover img {
  transform: rotate(360deg); /* Rotate the wheel 360 degrees on hover */
}



#gear14 img {
  transition: transform 2s; /* Add transition for smooth rotation */
}

#gear14:hover img {
  transform: rotate(360deg); /* Rotate the wheel 360 degrees on hover */
}



#gear15 img {
  transition: transform 2s; /* Add transition for smooth rotation */
}

#gear15:hover img {
  transform: rotate(360deg); /* Rotate the wheel 360 degrees on hover */
}


#gear17 img {
  transition: transform 2s; /* Add transition for smooth rotation */
}

#gear17:hover img {
  transform: rotate(360deg); /* Rotate the wheel 360 degrees on hover */
}



#gear18 img {
  transition: transform 2s; /* Add transition for smooth rotation */
}

#gear18:hover img {
  transform: rotate(360deg); /* Rotate the wheel 360 degrees on hover */
}



#gear19 img {
  transition: transform 2s; /* Add transition for smooth rotation */
}

#gear19:hover img {
  transform: rotate(360deg); /* Rotate the wheel 360 degrees on hover */
}



#gear20 img {
  transition: transform 2s; /* Add transition for smooth rotation */
}

#gear20:hover img {
  transform: rotate(360deg); /* Rotate the wheel 360 degrees on hover */
}

#gear21 img {
  transition: transform 2s; /* Add transition for smooth rotation */
}

#gear21:hover img {
  transform: rotate(360deg); /* Rotate the wheel 360 degrees on hover */
}

#gear22 img {
  transition: transform 2s; /* Add transition for smooth rotation */
}

#gear22:hover img {
  transform: rotate(360deg); /* Rotate the wheel 360 degrees on hover */
}

#gear23 img {
  transition: transform 1s; /* Add transition for smooth rotation */
}

#gear23:hover img {
  transform: rotate(360deg); /* Rotate the wheel 360 degrees on hover */
}

#gear27 img {
  transition: transform 2s; /* Add transition for smooth rotation */
}

#gear27:hover img {
  transform: rotate(360deg); /* Rotate the wheel 360 degrees on hover */
}

#gear28 img {
  transition: transform 2s; /* Add transition for smooth rotation */
}

#gear28:hover img {
  transform: rotate(360deg); /* Rotate the wheel 360 degrees on hover */
}

#gear30 img {
  transition: transform 2s; /* Add transition for smooth rotation */
}

#gear30:hover img {
  transform: rotate(360deg); /* Rotate the wheel 360 degrees on hover */
}

#gear31 img {
  transition: transform 2s; /* Add transition for smooth rotation */
}

#gear31:hover img {
  transform: rotate(360deg); /* Rotate the wheel 360 degrees on hover */
}

#gear32 img {
  transition: transform 2s; /* Add transition for smooth rotation */
}

#gear32:hover img {
  transform: rotate(360deg); /* Rotate the wheel 360 degrees on hover */
}